DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_DBNAME=auth_db
DATABASE_SSLMODE=disable

JWT_SECRETKEY=change-me-in-production

GRPC_PORT=50051
APP_ENV=development
